@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
  --color-primary: #00807f;
  --color-primary-hover: #1faead;
  --color-primary-focus: #006362;

  --color-primary-dark: #004d4c;
  --color-primary-dark-hover: #007473;
  --color-primary-dark-focus: #003333;

  --color-secondary: #f5f5db;
  --color-secondary-hover: #fffff0;
  --color-secondary-focus: #e0e0b9;

  --color-secondary-dark: #bfbf9a;
  --color-secondary-dark-hover: #d9d9c4;
  --color-secondary-dark-focus: #9a9a7a;

  --color-tertiary: #fb8071;
  --color-tertiary-hover: #ff9b8e;
  --color-tertiary-focus: #e66d5e;

  --color-tertiary-dark: #c46058;
  --color-tertiary-dark-hover: #e57c70;
  --color-tertiary-dark-focus: #9e4c45;

  --color-light: #ffffff;
  --color-light-hover: #f7f7f7;
  --color-light-focus: #e5e5e5;

  --color-light-dark: #1a1a1a;
  --color-light-dark-hover: #333333;
  --color-light-dark-focus: #0d0d0d;
}

* {
  @apply m-0 p-0 box-border list-none no-underline transition-200;
}

html {
  @apply transition-colors duration-200 ease-in-out;
}

body {
  @apply m-0 bg-gray-100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: #00807f;
  border-radius: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00807f;
  border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #006362;
  cursor: -webkit-grabbing;
  border-radius: 0.5rem;
  transition: all 350ms ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1faead;
}

@layer components {
  .primary-button {
    @apply focus:outline-none text-primary bg-secondary hover:bg-secondary-hover focus:ring-4 focus:ring-secondary-focus font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-secondary-dark dark:hover:bg-secondary-dark-hover dark:focus:ring-secondary-dark-focus transition-200;
  }

  .Toastify__toast-container {
    z-index: 9999; /* Met un z-index élevé pour être au-dessus de tout */
  }

  .toast-custom {
    background-color: var(--color-primary);
    color: white;
    font-weight: bold;
  }

  .toast-success {
    background-color: var(--color-primary);
    color: #fff;
  }

  .toast-error {
    background-color: #ff4d4f;
    color: #fff;
  }

  .toast-icon {
    font-size: 1.5rem;
  }
}

@layer utilities {
  .transition-200 {
    @apply transition-all duration-200 ease-in-out;
  }

  .inputForm {
    @apply w-full py-2.5 px-3 rounded-lg text-primary bg-secondary focus:bg-secondary-focus focus:outline-none;
  }

  .labelForm {
    @apply p-2 absolute left-1 top-1 text-primary dark:text-primary-dark text-sm transition-200;
  }

  .inputForm:focus + .labelForm {
    @apply text-secondary dark:text-secondary-dark -translate-y-8 p-2 rounded-lg;
  }

  .inputForm:not(:focus):placeholder-shown + .labelForm {
    @apply text-primary  dark:text-primary-dark;
  }

  .inputForm:not(:placeholder-shown) + .labelForm {
    @apply text-secondary dark:text-secondary-dark  rounded-lg -translate-y-8;
  }
}

/* -----------------------------LOADER---------------------------- */
.loader-container {
  @apply fixed left-0 bottom-0 w-full h-full grid place-items-center;
}

.loader {
  @apply w-12 h-12 rounded-full border border-solid border-light border-t-transparent relative box-border animate-spin;
}

.loader::after {
  @apply content-[''] box-border absolute inset-0 m-auto border border-solid border-transparent border-b-primary border-r-primary w-6 h-6 rounded-full animate-[spin_0.5s_linear_infinite];
}

/* Keyframes pour l'animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
